$greenColor:#B0AF7E;
$pinkColor: #fb607f;

.wrapperAbout{
    width: 80%;
    margin: 0 auto;
}

.about{
    .myPic{
        height: 50vh;
        background-image: url(../images/me.JPG);
        background-position: top;
        background-size: cover;
        margin-bottom: 50px;
        border: $pinkColor 5px solid;
        border-radius: 10px;
    }
    p{
        font-size: 2rem;
        line-height: 1.9;
    }
}

.char{
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

.skills{
    width: 80%;
    margin: 0 auto;
    ul{
        display: flex;
        justify-content: center;    
        text-align: center;       
        li i{
            font-size: 60px;
            padding: 10px;
            color: $greenColor;
        }
    }
    .skillIcons{  
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        column-gap: 1%;
        row-gap: 0.2%;
        i:hover,
        i:focus{
            color: $pinkColor;
        }
    }
}


