$greenColor:#B0AF7E;
$pinkColor: #fb607f;

.wrapperAbout{
    width: 80%;
    margin: 0 auto;
}

.about{
    .myPic{
        height: 50vh;
        margin-bottom: 50px;
        border: $pinkColor 5px solid;
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
        visibility: hidden;
        position: relative;
        overflow: hidden;
    }
    p{
        font-size: 2rem;
        line-height: 1.9;
    }
}

.skills{
    width: 80%;
    margin: 0 auto;
    .skillIcons{  
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        column-gap: 1%;
        row-gap: 0.2%;
        li i{
            font-size: 60px;
            padding: 10px;
            color: $greenColor;
            &:hover,
            &:focus{
                color: $pinkColor;
            }
        }
    }
}


