$greenColor: #B0AF7E;
$darkGrey: rgb(88,88,88);
$pinkColor: #ea8a8a;

.contactWrapper{
    width: 80%;
    margin: 0 auto;
}

form{
    display: flex;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 20px;
}

input{
    margin-bottom: 20px;
    background-color: $darkGrey;
    border: none;
    height: 40px;
}

input[type=text],
input[type=email],
textarea {
    color: white;
    font-size: 2rem;
    &:focus{
        border: 2px solid $pinkColor;
    }
}
.info{
    margin-left: 20px;
}
textarea{
    background-color: $darkGrey;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: none;
    resize: none;
}


.sendMessage{
    display: flex;
    flex-direction: column;
}

button{
    color: black;
    font-size: 1.8rem;;
    background-color:#ea8a8a;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    transition: all 0.3s linear;
    &:hover,
    &:focus{
        transform: scale(1.1);
    }
}
