.contactWrapper {
  width: 80%;
  margin: 0 auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 20px;
  border: white 1 px solid;
}

input {
  margin-bottom: 20px;
  background-color: black;
  border: white 1px solid;
  height: 40px;
  border-radius: 2px;
}

input[type="text"],
input[type="email"],
textarea {
  color: white;
  font-size: 1.7rem;
  padding-left: 10px;
  border: white 1 px solid;
}

::placeholder {
  color: white;
  font-size: 15px;
  opacity: 1; /* Firefox */
}

.info {
  display: flex;
  gap: 20px;
}

textarea {
  background-color: black;
  border: white 1px solid;
  padding-top: 10px;
  margin-bottom: 10px;
  resize: none;
  border-radius: 2px;
}

.sendMessage {
  display: flex;
  flex-direction: column;
}

button {
  color: white;
  font-size: 1.8rem;
  background-color: black;
  border: white 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  transition: all 0.3s linear;
  border-radius: 2px;
  &:hover,
  &:focus {
    background-color: #d9b99b;
    cursor: pointer;
  }
}
