$baseFont: "Lora", serif;
$blackColor: #2c2c2c;
$greenColor: #b0af7e;
$greyColor: rgb(169, 169, 169);
$pinkColor: #ea8a8a;

body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  background-color: $blackColor;
}

img {
  width: 100%;
  display: block;
}

h1 {
  text-transform: uppercase;
  color: white;
  font-size: 8rem;
  position: absolute;
  top: 100px;
  right: 150px;
  span {
    position: absolute;
    right: 150px;
    top: 530px;
  }
}

h2 {
  font-size: 7rem;
  color: white;
  font-family: "Corinthia", cursive;
  padding: 30px 0;
}

.underbar {
  width: 0;
  height: 5px;
  background: rgba(100, 100, 200, 0);
  top: 20px;
  position: absolute;
  transition: all ease 0.5s;
}

h3 {
  font-size: 6rem;
  color: $greenColor;
  text-align: center;
  margin: 100px 0 100px 0;
  text-transform: uppercase;
  transition: all ease 0.5s;
  &:hover,
  &:focus {
    text-shadow: 0px -2px 0px rgba(0, 0, 0, 1), 0 0 5px rgba(255, 255, 255, 0.8),
      0 -4px 15px rgba(255, 255, 255, 0.5);
  }
}

h4 {
  color: white;
  font-size: 3rem;
  transition: all 0.2s;
  &:hover,
  &:focus {
    color: $greenColor;
  }
}

h5 {
  color: black;
  font-size: 2rem;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-right: 20px;
}

p {
  color: white;
  font-size: 1.8rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  transition: all 0.2s;
  &:hover,
  &:focus {
    color: #d9b99b;
  }
}

i {
  font-size: 60px;
  padding: 5px;
  color: #f7f4f3;
  &:focus {
    color: white;
  }
}

.whiteLine {
  width: 10%;
  height: 3px;
  background-color: white;
  margin-bottom: 10px;
}

footer {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  padding-bottom: 20px;
  border-top: solid 1px white;
  padding-top: 20px;
}
