$baseFont: 'Lora', serif;
$blackColor: #2C2C2C;
$greenColor:#B0AF7E;
$greyColor: rgb(169,169,169);
$pinkColor: #ea8a8a;

body,
ul,
h1,
h2,
h3,
h4,
h5,
p{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: $baseFont;
    background-color: $blackColor;
}

img{
    width: 100%;
    display: block;
}

h1 {
    color: mix(black, #fff, 85%);
	font-size: 7rem;  
	font-weight: 900;
	text-shadow: 
		-0.0075em 0.0075em 0 mix(#fff, $pinkColor, 94%),
		0.005em 0.005em 0 mix(#fff, $pinkColor, 60%),
		0.01em 0.01em 0 mix(#fff, $pinkColor, 62%), 
		0.015em 0.015em mix(#fff, $pinkColor, 64%), 
		0.02em 0.02em 0 mix(#fff, $pinkColor, 66%), 
		0.025em 0.025em 0 mix(#fff, $pinkColor, 68%),
		0.03em 0.03em 0 mix(#fff, $pinkColor, 70%),
		0.035em 0.035em 0 mix(#fff, $pinkColor, 72%);
}


h2{
    font-size: 6rem;
    color: $pinkColor;
}

h3{
    font-size: 6rem;
    color: $greenColor;
    text-align: center;
    margin: 100px 0 100px 0;
    text-transform: uppercase;
}

h4{
    color: white;
    font-size: 3rem;
    &:hover,
    &:focus{
        color:$greenColor;
    }
}

h5{
    color:$pinkColor;
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 20px;
}

p{
    // color:$greyColor;
    color: white;
    font-size: 1.8rem;
    line-height: 1.5;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    &:hover,
    &:focus{
        color:$greenColor;
    }
}

i{
    font-size: 60px;
    padding: 10px;
}

footer{
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
    margin-bottom: 20px;
    border-top: solid 1px black;
    padding-top: 20px;
}