$blackColor: #2C2C2C;
$pinkColor: #FBACBE;
$greenColor:#A18276;


body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    }

    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    .wrapper {
        max-width: 2000px;
        margin: 0 auto;
        width: 80%;
    }
    .fa-bars{
        display: none;
    }
    nav {
        height: 10vh;

        li {
            text-align: center;
        }

        ul {
            display: flex;
            justify-content: space-around;
            padding-top: 40px;
        }

        p {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 1.1rem;
        }
    }
    .firstPage {
        height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;

        ul {
            display: flex;
            justify-content: center;
        }

        .logos {
            i:hover,
            i:focus {
                color: white;
            }
        }
        .resume {
            position: fixed;
            transform: rotate(90deg);
            text-transform: uppercase;
            background-color: $pinkColor;
            padding: 10px;
            border-radius: 5px;
            color: black;
            &:hover,
            &:focus {
                background-color: $greenColor;
            }
        }
    }
}

.toTop{
    background: transparent;
    display: flex;
    justify-content: center;
    animation: arrow 4s infinite;
    &:focus{
        width: 120px;
    }
}
