$blackColor: #2C2C2C;

header{
    .wrapper{
        max-width: 2000px;
        margin: 0 auto;
        width: 80%;
        .fa-ellipsis-h{
            display: none;
        }
    }
    nav{
        background-color: $blackColor;
        height: 90px;
        div{
            text-align: center;
        }
        ul{
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
        }
        p{
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 1.1rem;
        }
    }
    .firstPage{
        background-image: url(../images/mountain.JPG);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 90vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        img{
            width: 150px;
            height: 150px;
            align-self: center;
            margin-bottom: 30px;            
        }
        ul{
            display: flex;
            justify-content: center;
        }
        .logos{
            i:hover,
            i:focus{
                color: white;
            }

        }
    }
    button{
        border: none;
        background: none;
        position: absolute;
        left: 48%;
        bottom: 8%;
        cursor: pointer;
        i{
            color: #454411;
            animation: arrow 4s infinite;
        }
    }
}

.toTop{
    background: transparent;
    display: flex;
    justify-content: center;
    animation: arrow 4s infinite;
}

@keyframes arrow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
}

