@media (max-width: 1240px){
    .imgContainer{
        width: 100%;
    }
    .paragraphRight,
    .paragraphLeft{
        width: 100%;
        padding-left: 0;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .paragraphLeft{
        order: 1;
    }
    .workContainer{
        flex-direction: column;
    }

    form{
        flex-direction: column;
    }
    .inputs{
        width: 100%;
    }
    .workContainer{
        margin-bottom: 85%;
    }
    .paragraphLeft,
    .paragraphRight{
        margin-top: 50%;
    }
    .email p{
        margin-bottom: 20px;
    }

}

@media(max-width: 480px){
    header button{
        left: 38%;
    }
    .workContainer{
        margin-bottom: 600px;
    }
    .paragraphLeft,
    .paragraphRight{
        margin-top: 50%;
    }
    h1{
        font-size: 5rem;
        width: 60%;
        align-self: center;
    }
    h2{
        font-size: 4rem;
    }
    a{
        font-size: 1.2rem;
    }
    header .wrapper {
        display: none;
    }
    header .wrapper.open{
        background: rgba(0,0,0,0.8);
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;
        width: 100vw;
        height: 90vh;
        li p {
            display: none;
        }
        li a{
            font-size: 5rem;
        }
    }
    header i{
        font-size: 40px;
    }
    header .fa-bars{
        display: inherit;
    }
    header nav{
        height: 70px;
    }
    .about .myPic{
        height: auto;
    }
    header .firstPage .resume{
        position: absolute;
    }
    .info{
        margin-left: 0;
    }
}