@media (max-width: 1240px){
    .imgContainer{
        width: 100%;
    }
    .paragraphRight,
    .paragraphLeft{
        width: 100%;
        padding-left: 0;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .paragraphLeft{
        order: 1;
    }
    .workContainer{
        flex-direction: column;
    }

    form{
        flex-direction: column;
    }
    .inputs{
        width: 100%;
    }
    .workContainer{
        margin-bottom: 85%;
    }
    .paragraphLeft,
    .paragraphRight{
        margin-top: 50%;
    }

}

@media(max-width: 480px){
    header button{
        left: 38%;
    }
    .workContainer{
        margin-bottom: 600px;
    }
    .paragraphLeft,
    .paragraphRight{
        margin-top: 50%;
    }
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 5rem;
    }
    a{
        font-size: 1.2rem;
    }
    // .wrapper div{
    //     display: none;
    // }
    // header .wrapper .fa-ellipsis-h{
    //     display: inherit;
    // }
}