// $greenColor:#B0AF7E;
// $pinkColor: #ea8a8a;

// .wrapperWork{
//     width: 80%;
//     margin: 0 auto;
//     overflow-x: hidden;
// }

// .workContainer{
//     display: flex;
//     margin-bottom: 35%;
//     a{
//         font-size: 1.7rem;
//         padding-right: 10px;
//         color: $greenColor;
//     }
//     i{
//         font-size: 30px;
//         color: $pinkColor;
//         margin-top: 10px;
//     }
// }

// .imgContainer{
//     position: relative;
//     width: 50%;
// }

// .paragraphRight{
//     margin: auto;
//     padding-left: 30px;
//     width: 50%;
// }

// .revealer {
//     position: relative;
// }

// .revealme {
//     transition: all 2s ease-in-out;
//     opacity: 0;
// }
  
// .active .revealme {
//     opacity: 1;
// }
  
// .revealme.fromleft {
//     position: absolute;
//     left: -100%;

// }
  
// .active .revealme.fromleft {
//     opacity: 1;
//     left: 2%;
//     .overlay{
//         margin-left: 0;
//     }
// }
  
// .revealme.fromright {
//     position: absolute;
//     right: -100%;
// }
  
// .active .revealme.fromright {
//     opacity: 1;
//     right: 2%;
//     img{
//         margin-left: 30px;
//     }
// }

// .paragraphLeft{
//     margin: auto;
//     width: 50%;
//     padding-right: 30px;
// }

// .paragraphRight p,
// .paragraphLeft p{
//     padding-top: 10px;
//     padding-bottom: 10px;
// }

// .imgContainer img{
//     width: 90%;
// }

// .overlay {
//     background: $pinkColor;
//     position: absolute;
//     height: 100%;
//     margin-left: 30px;
//     width: 90%;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     opacity: 0;
//     transition: all 0.4s ease-in-out 0s;
// }
  
// .overlay:hover,
// .overlay:focus {
//     opacity: 0.3;
// }

$greenColor:#B0AF7E;
$pinkColor: #ea8a8a;

.wrapperWork{
    width: 80%;
    margin: 0 auto;
    // overflow-x: hidden;
    // height: auto;
    height: 100%;
}

.workContainer{
    display: flex;
    height: 100%;
    margin-bottom: 35%;
    a{
        font-size: 1.7rem;
        padding-right: 10px;
        color: $greenColor;
    }
    i{
        font-size: 30px;
        color: $pinkColor;
        margin-top: 10px;
    }
}

.imgContainer{
    position: relative;
    width: 50%;
}

.paragraphRight{
    margin: auto;
    padding-left: 30px;
    width: 50%;
}

.revealer {
    position: relative;
}

.revealme {
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    opacity: 0;
}
  
.active .revealme {
    opacity: 1;
}
  
.revealme.fromleft {
    position: absolute;
    left: -100%;

}
  
.active .revealme.fromleft {
    opacity: 1;
    left: 2%;
    .overlay{
        margin-left: 0;
    }
}
  
.revealme.fromright {
    position: absolute;
    right: -100%;
}
  
.active .revealme.fromright {
    opacity: 1;
    right: 2%;
    img{
        margin-left: 30px;
    }
}

.paragraphLeft{
    margin: auto;
    width: 50%;
    padding-right: 30px;
}

.paragraphRight p,
.paragraphLeft p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.imgContainer img{
    width: 90%;
}

.overlay {
    background: $pinkColor;
    position: absolute;
    height: 100%;
    margin-left: 30px;
    width: 90%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
.overlay:hover,
.overlay:focus {
    opacity: 0.3;
}

