html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Lora", serif;
  background-color: #2C2C2C;
}

img {
  width: 100%;
  display: block;
}

h1 {
  color: #d5526c;
  font-size: 7rem;
  font-weight: 900;
  text-shadow: -0.0075em 0.0075em 0 #0e0808, 0.005em 0.005em 0 #5e3737, 0.01em 0.01em 0 #593434, 0.015em 0.015em #543232, 0.02em 0.02em 0 #502f2f, 0.025em 0.025em 0 #4b2c2c, 0.03em 0.03em 0 #462929, 0.035em 0.035em 0 #422727;
}

h2 {
  font-size: 7rem;
  color: white;
  font-family: "Corinthia", cursive;
}

.underbar {
  width: 0;
  height: 5px;
  background: rgba(100, 100, 200, 0);
  top: 20px;
  position: absolute;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

h3 {
  font-size: 6rem;
  color: #B0AF7E;
  text-align: center;
  margin: 100px 0 100px 0;
  text-transform: uppercase;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
h3:hover, h3:focus {
  text-shadow: 0px -2px 0px black, 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);
}

h4 {
  color: white;
  font-size: 3rem;
}
h4:hover, h4:focus {
  color: #B0AF7E;
}

h5 {
  color: #ea8a8a;
  font-size: 2rem;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-right: 20px;
}

p {
  color: white;
  font-size: 1.8rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}
a:hover, a:focus {
  color: #B0AF7E;
}

i {
  font-size: 60px;
  padding: 10px;
  color: #B0AF7E;
}

footer {
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
  margin-bottom: 20px;
  border-top: solid 1px black;
  padding-top: 20px;
}

header .wrapper {
  max-width: 2000px;
  margin: 0 auto;
  width: 80%;
}
header .fa-bars {
  display: none;
}
header nav {
  background-color: #2C2C2C;
  height: 90px;
}
header nav li {
  text-align: center;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
}
header nav p {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.1rem;
}
header .firstPage {
  background-image: url(../images/mountain.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
}
header .firstPage img {
  width: 150px;
  height: 150px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 30px;
}
header .firstPage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .firstPage .logos i:hover,
header .firstPage .logos i:focus {
  color: white;
}
header button {
  border: none;
  background: none;
  position: absolute;
  left: 48%;
  bottom: 8%;
  cursor: pointer;
}
header button i {
  color: #454411;
  -webkit-animation: arrow 4s infinite;
          animation: arrow 4s infinite;
}

.toTop {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: arrow 4s infinite;
          animation: arrow 4s infinite;
}

@-webkit-keyframes arrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes arrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
.wrapperAbout {
  width: 80%;
  margin: 0 auto;
}

.about .myPic {
  height: 50vh;
  margin-bottom: 50px;
  border: #fb607f 5px solid;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}
.about p {
  font-size: 2rem;
  line-height: 1.9;
}

.skills {
  width: 80%;
  margin: 0 auto;
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.skills ul li i {
  font-size: 60px;
  padding: 10px;
  color: #B0AF7E;
}
.skills .skillIcons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  -webkit-column-gap: 1%;
     -moz-column-gap: 1%;
          column-gap: 1%;
  row-gap: 0.2%;
}
.skills .skillIcons i:hover,
.skills .skillIcons i:focus {
  color: #fb607f;
}

.wrapperWork {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
  height: 100%;
}

.workContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1px;
  margin-bottom: 35%;
}
.workContainer a {
  font-size: 1.7rem;
  padding-right: 10px;
  color: #B0AF7E;
}
.workContainer i {
  font-size: 30px;
  color: #ea8a8a;
  margin-top: 10px;
}

.imgContainer {
  position: relative;
  width: 50%;
}

.paragraphRight {
  margin: auto;
  padding-left: 30px;
  width: 50%;
}

.revealer {
  position: relative;
}

.revealme {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  opacity: 0;
}

.active .revealme {
  opacity: 1;
}

.revealme.fromleft {
  position: absolute;
  left: -100%;
}

.active .revealme.fromleft {
  opacity: 1;
  left: 2%;
}
.active .revealme.fromleft .overlay {
  margin-left: 0;
}

.revealme.fromright {
  position: absolute;
  right: -100%;
}

.active .revealme.fromright {
  opacity: 1;
  right: 2%;
}
.active .revealme.fromright img {
  margin-left: 30px;
}

.paragraphLeft {
  margin: auto;
  width: 50%;
  padding-right: 30px;
}

.paragraphRight p,
.paragraphLeft p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.imgContainer img {
  width: 90%;
}

.overlay {
  background: #ea8a8a;
  position: absolute;
  height: 100%;
  margin-left: 30px;
  width: 90%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.overlay:hover,
.overlay:focus {
  opacity: 0.3;
}

.contactWrapper {
  width: 80%;
  margin: 0 auto;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin-right: 20px;
}

input {
  margin-bottom: 20px;
  background-color: #585858;
  border: none;
  height: 40px;
}

input[type=text],
input[type=email],
textarea {
  color: white;
  font-size: 2rem;
}

.info {
  margin-left: 20px;
}

textarea {
  background-color: #585858;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: none;
  resize: none;
}

.sendMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  color: black;
  font-size: 1.8rem;
  background-color: #ea8a8a;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}

@media (max-width: 1240px) {
  .imgContainer {
    width: 100%;
  }

  .paragraphRight,
.paragraphLeft {
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .paragraphLeft {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .workContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .inputs {
    width: 100%;
  }

  .workContainer {
    margin-bottom: 85%;
  }

  .paragraphLeft,
.paragraphRight {
    margin-top: 50%;
  }
}
@media (max-width: 480px) {
  header button {
    left: 38%;
  }

  .workContainer {
    margin-bottom: 600px;
  }

  .paragraphLeft,
.paragraphRight {
    margin-top: 50%;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
  }

  a {
    font-size: 1.2rem;
  }

  header .wrapper {
    display: none;
  }

  header .wrapper.open {
    background: rgba(0, 0, 0, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 10;
    width: 100vw;
    height: 100vh;
  }
  header .wrapper.open li p {
    visibility: hidden;
  }
  header .wrapper.open li a {
    font-size: 5rem;
  }

  header .wrapper .fa-bars {
    display: inherit;
    font-size: 60px;
  }

  header nav {
    height: 80px;
  }

  header .fa-bars {
    display: inherit;
  }

  .about .myPic {
    height: auto;
  }
}